/* PALETTE */

:root {
    --blue-row: rgb(27,114,232);
    --pills: rgb(22,91,186);
}

.sidebar {
    background-color: rgb(4,30,52);
    background-image: url(../assets/img/sidebar-bg.png);
    height: 100vh;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 54px;
}

main {
    margin-top: 54px;
    margin-left: 165px;
}
.blue_row {
    background-color: var(--blue-row);
}

.pill {
    background-color: var(--pills);
}

.mobile_logo {
    height: 50px;
    width: 80px;
}

.boo_logo {
    height: 50px;
    width: 138px;
}

.class_logo {
    width: 25px;
}

.stats {
    width: auto;
}



@media screen and (max-width: 576px) {
    .sidebar{
        width: 80px;
    }

    main {
     margin-left: 80px;
    }
}